table{
    width: 100%;
}

table, th, td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

th, td{
    padding: 5px;
}

th{
    background-color: lightblue;
}

table button {
    padding: 2px;
    margin: 10px;
}

#genreCreateForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    font-weight: bolder;
}

#genreCreateForm label, #genreCreateForm input, #genreCreateForm button {
    margin: 7px;
    padding: 7px;
}

#genreUpdateForm td {
    font-weight: bolder;
}

#genreUpdateForm label, #genreUpdateForm input, #genreUpdateForm button {
    display: block;
    margin: 0px auto 7px auto;
    padding: 7px;
    width: 50%;
    box-sizing: border-box; /* Include padding within the width calculation */
}
