table{
    width: 100%;
}

table, th, td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

th, td{
    padding: 5px;
}

th{
    background-color: lightblue;
}

table button {
    padding: 2px;
    margin: 10px;
}

/* MOVIE */

#movieCreateForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    font-weight: bold;
}

#movieCreateForm h3, #movieCreateForm label, #movieCreateForm input, #movieCreateForm button {
    margin: 7px;
    padding: 7px;
}

#movieUpdateForm td {
    font-weight: bolder;
}

#movieUpdateForm h3, #movieUpdateForm label, #movieUpdateForm input, #movieUpdateForm button {
    display: block;
    margin: 0px auto 7px auto;
    padding: 7px;
    width: 50%;
    box-sizing: border-box; /* Include padding within the width calculation */
}

#movieDiv {
    display: none;
}

/* GENRE */
#genreCreateForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    font-weight: bolder;
}

#genreCreateForm h3, #genreCreateForm label, #genreCreateForm input, #genreCreateForm button {
    margin: 7px;
    padding: 7px;
}

#genreUpdateForm td {
    font-weight: bolder;
}

#genreUpdateForm h3, #genreUpdateForm label, #genreUpdateForm input, #genreUpdateForm button {
    display: block;
    margin: 0px auto 7px auto;
    padding: 7px;
    width: 50%;
    box-sizing: border-box; /* Include padding within the width calculation */
}

#genreDiv {
    display: none;
}


/* RENT */
#rentCreateForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    font-weight: bolder;
}

#rentCreateForm h3, #rentCreateForm label, #rentCreateForm input, #rentCreateForm button {
    margin: 7px;
    padding: 7px;
}

#rentUpdateForm td {
    font-weight: bolder;
}

#rentUpdateForm h3, #rentUpdateForm label, #rentUpdateForm input, #rentUpdateForm button {
    display: block;
    margin: 0px auto 7px auto;
    padding: 7px;
    width: 50%;
    box-sizing: border-box; /* Include padding within the width calculation */
}

#rentDiv {
    display: none;
}

/* NONCRUDS */

#noncrudDiv {
    display: none;
}

#noncrudButtons {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

#noncrudButtons button, #noncrudButtons input {
    display: block;
    margin: 0px auto 7px auto;
    padding: 7px;
    width: 25%;
    box-sizing: border-box; /* Include padding within the width calculation */
}


/* MENU */

#menuDiv {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
}

#menuDiv button {
    width: 50%;
    margin: 0px auto 0px auto;
    padding: 15px;
}


/* COLORS */

.azure {
    background-color: azure;
}

.lightblue {
    background-color: lightblue;
}